{
  "presets": [
    ["env", {
      "targets": {
        "node": "current",
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": ["transform-object-rest-spread"],
  "ignore": [
    "*/__tests__"
  ]
}